.homepage {
  height: 100vh;
  background-color: black;
  color: white;
}
.navbar {
  width: 100%;
  display: flex;
  height: 10vh;
  border-bottom: 0.3px solid white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  /* border: 1px solid white; */
  gap: 2dvw;
  align-items: center;
}
.menu div:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}
.menu div {
  display: flex;
  align-items: center;
}
.logo {
  margin-left: 1.25rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.logo:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}
.content {
  width: 100%;
  display: flex;
  /* border: 1px solid white;    */
}
.left {
  width: 70%;
  padding-top: 8.5rem;
  padding-inline: 3rem;
  font-size: 3rem;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* border: 1px solid white; */
}
.inp {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  width: 100%;
  font-size: 1rem;
}
.right {
  height: 89vh;
  /* border: 1px solid white;    */
  width: 70%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-size: contain; */
}
.right img {
  border-radius: 1.2rem;
}
.MeetingCode {
  display: block;
  height: 10vh;
  padding-left: 1rem;
  width: 70%;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1rem;
  border: 1px solid white;
}
.join {
  background-color: orange;
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  /* border: 1px solid white; */
}
.join:hover {
  cursor: pointer;
}
.user {
  margin-top: 1rem;
  height: 10vh;
  font-size: 1rem;
  color: aliceblue;
  border: 1px solid white;
  padding-left: 2rem;
  border-radius: 2rem;
}
.fix {
  height: fit-content;
  display: flex;
  align-items: center;
  margin-inline: 7rem;
  margin-block: 7rem;
  justify-content: center;
  padding-inline: 3rem;
  width: fit-content;
  border-radius: 1rem;
}
.fix1 {
  display: flex;
  justify-content: center;

  align-items: center;
}
