* {
  /* color: white; */
  margin: 0;
  padding: 0;
}
.LandingPage {
  background-image: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.Nav {
  padding-inline: 1.7rem;
  padding-block: 1.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.BrandName {
  align-items: center;
}
.Nav h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
.NavInfo {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
  font-size: 1.2rem;
}
.MainContainer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  /* padding-inline: 1rem;   */
  margin-top: 1.75rem;
  height: 80vh;
  align-items: center;
}
.Mobile img {
  height: 70vh;
  padding-right: 4rem;
  width: auto;
}
.Tag-line {
  padding: 2rem;
  font-size: 1.75rem;
}
.start {
  background-color: #d97500;
  width: fit-content;
  padding: 0.75rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 2rem;
}
